In [1]:
import numpy as np
import pandas as pd

In [2]:
data= pd.read_csv('Talha_FinalData(1).csv')

In [3]:
data.head(5)

,Date,Disease,Case_no,Received_D,Report_Tim,Doctor_s_N,District,RHC_BHU_Na,RHC_BHU_Ad,Lattitude,...,DUCMASS25,OCCMASS,SO2CMASS,AOD,COSC,TO3,PS,QLML,SPEEDLML,TLML
0,3,ARI/Pneum > 5 Yrs,3,23-11-17,NaN,Muhammad Baksh,KHUSHAB,Basic Health Unit SHUMAR (GUNJIAL) KHUSHAB,SHUMAR (GUNJIAL) KHUSHAB,32.334890,...,0.000055,0.000048,0.000006,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183
1,9,ARI/Pneum > 5 Yrs,3,23-11-17,NaN,Abida Parveen,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,...,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183
2,7,ARI/Pneum > 5 Yrs,5,23-11-17,NaN,Abida Parveen,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,...,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183
3,6,ARI/Pneum < 5 Yrs,5,23-11-17,NaN,Abida Parveen,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,...,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183
4,6,ARI/Pneum < 5 Yrs,3,23-11-17,NaN,Abida Parveen,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,...,0.000061,0.000063,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183

In [4]:
data.columns

Index(['Date', 'Disease', 'Case_no', 'Received_D', 'Report_Tim', 'Doctor_s_N',
       'District', 'RHC_BHU_Na', 'RHC_BHU_Ad', 'Lattitude', 'Longitude',
       'Date_Time', 'BCCMASS', 'DUCMASS25', 'OCCMASS', 'SO2CMASS', 'AOD',
       'COSC', 'TO3', 'PS', 'QLML', 'SPEEDLML', 'TLML'],
      dtype='object')

In [5]:
data.dtypes

Date            int64
Disease        object
Case_no         int64
Received_D     object
Report_Tim    float64
Doctor_s_N     object
District       object
RHC_BHU_Na     object
RHC_BHU_Ad     object
Lattitude     float64
Longitude     float64
Date_Time      object
BCCMASS       float64
DUCMASS25     float64
OCCMASS       float64
SO2CMASS      float64
AOD           float64
COSC          float64
TO3           float64
PS            float64
QLML          float64
SPEEDLML      float64
TLML          float64
dtype: object

In [6]:
data.isnull().values.any()

True

In [7]:
data.isnull().sum()

Date              0
Disease           0
Case_no           0
Received_D        0
Report_Tim    22552
Doctor_s_N        4
District          0
RHC_BHU_Na        0
RHC_BHU_Ad        0
Lattitude         0
Longitude         0
Date_Time         0
BCCMASS           0
DUCMASS25         0
OCCMASS           0
SO2CMASS          0
AOD               0
COSC              0
TO3               0
PS                0
QLML              0
SPEEDLML          0
TLML              0
dtype: int64

In [8]:
data = data.drop(['Report_Tim', 'Doctor_s_N'], axis =1)
data.isnull().sum()

Date          0
Disease       0
Case_no       0
Received_D    0
District      0
RHC_BHU_Na    0
RHC_BHU_Ad    0
Lattitude     0
Longitude     0
Date_Time     0
BCCMASS       0
DUCMASS25     0
OCCMASS       0
SO2CMASS      0
AOD           0
COSC          0
TO3           0
PS            0
QLML          0
SPEEDLML      0
TLML          0
dtype: int64

In [9]:
data.shape

(22552, 21)

In [10]:
data['Date_Time1'] =  pd.to_datetime(data['Received_D'],format='%d-%m-%y')
#data['Date_Month'] =  pd.to_datetime(data['Date_Time1']).dt.to_period('M')
data.dtypes

Date                   int64
Disease               object
Case_no                int64
Received_D            object
District              object
RHC_BHU_Na            object
RHC_BHU_Ad            object
Lattitude            float64
Longitude            float64
Date_Time             object
BCCMASS              float64
DUCMASS25            float64
OCCMASS              float64
SO2CMASS             float64
AOD                  float64
COSC                 float64
TO3                  float64
PS                   float64
QLML                 float64
SPEEDLML             float64
TLML                 float64
Date_Time1    datetime64[ns]
dtype: object

In [35]:
len(data['RHC_BHU_Ad'].unique())

525

In [11]:
data['Date_Time1']

0       2017-11-23
1       2017-11-23
2       2017-11-23
3       2017-11-23
4       2017-11-23
           ...
22547   2019-07-08
22548   2019-07-08
22549   2019-07-08
22550   2019-07-08
22551   2019-07-08
Name: Date_Time1, Length: 22552, dtype: datetime64[ns]

In [12]:
data['Date_Count'] = data.groupby('Date_Time1')['Date_Time1'].transform('count')
data.head(10)

,Date,Disease,Case_no,Received_D,District,RHC_BHU_Na,RHC_BHU_Ad,Lattitude,Longitude,Date_Time,...,SO2CMASS,AOD,COSC,TO3,PS,QLML,SPEEDLML,TLML,Date_Time1,Date_Count
0,3,ARI/Pneum > 5 Yrs,3,23-11-17,KHUSHAB,Basic Health Unit SHUMAR (GUNJIAL) KHUSHAB,SHUMAR (GUNJIAL) KHUSHAB,32.334890,71.848239,03-04-18,...,0.000006,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275
1,9,ARI/Pneum > 5 Yrs,3,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,09-04-18,...,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275
2,7,ARI/Pneum > 5 Yrs,5,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,07-04-18,...,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275
3,6,ARI/Pneum < 5 Yrs,5,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,06-04-18,...,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275
4,6,ARI/Pneum < 5 Yrs,3,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,06-04-18,...,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275
5,4,ARI/Pneum > 5 Yrs,5,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,04-04-18,...,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275
6,3,ARI/Pneum < 5 Yrs,2,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,03-04-18,...,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275
7,3,ARI/Pneum > 5 Yrs,3,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,03-04-18,...,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275
8,31,ARI/Pneum < 5 Yrs,2,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,31-03-18,...,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275
9,31,ARI/Pneum > 5 Yrs,5,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,31-03-18,...,0.000010,0.462058,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275

In [13]:
data['Disease_Label'] = np.where(data['Disease'] == 'ARI/Pneum > 5 Yrs',1,\
                                   np.where(data['Disease'] == 'ARI/Pneum < 5 Yrs',0,2))
data

,Date,Disease,Case_no,Received_D,District,RHC_BHU_Na,RHC_BHU_Ad,Lattitude,Longitude,Date_Time,...,AOD,COSC,TO3,PS,QLML,SPEEDLML,TLML,Date_Time1,Date_Count,Disease_Label
0,3,ARI/Pneum > 5 Yrs,3,23-11-17,KHUSHAB,Basic Health Unit SHUMAR (GUNJIAL) KHUSHAB,SHUMAR (GUNJIAL) KHUSHAB,32.334890,71.848239,03-04-18,...,0.462058,109.2100,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275,1
1,9,ARI/Pneum > 5 Yrs,3,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,09-04-18,...,0.462058,109.2100,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275,1
2,7,ARI/Pneum > 5 Yrs,5,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,07-04-18,...,0.462058,109.2100,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275,1
3,6,ARI/Pneum < 5 Yrs,5,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,06-04-18,...,0.462058,109.2100,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275,0
4,6,ARI/Pneum < 5 Yrs,3,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,06-04-18,...,0.462058,109.2100,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22547,7,ARI/Pneum > 5 Yrs,2,08-07-19,SARGODHA,Basic Health Unit ASIANWALA SARGODHA,ASIANWALA SARGODHA,32.073979,72.686070,07-04-18,...,0.948930,99.5644,282.649,97584.5,0.016060,4.54706,304.530,2019-07-08,6,1
22548,7,ARI/Pneum > 5 Yrs,2,08-07-19,SARGODHA,Basic Health Unit ASIANWALA SARGODHA,ASIANWALA SARGODHA,32.073979,72.686070,07-04-18,...,0.948930,99.5644,282.649,97584.5,0.016060,4.54706,304.530,2019-07-08,6,1
22549,6,ARI/Pneum > 5 Yrs,2,08-07-19,SARGODHA,Basic Health Unit ASIANWALA SARGODHA,ASIANWALA SARGODHA,32.073979,72.686070,06-04-18,...,0.948930,99.5644,282.649,97584.5,0.016060,4.54706,304.530,2019-07-08,6,1
22550,27,ARI/Pneum > 5 Yrs,3,08-07-19,SARGODHA,Basic Health Unit ASIANWALA SARGODHA,ASIANWALA SARGODHA,32.073979,72.686070,27-03-18,...,0.948930,99.5644,282.649,97584.5,0.016060,4.54706,304.530,2019-07-08,6,1
22551,26,ARI/Pneum > 5 Yrs,2,08-07-19,SARGODHA,Basic Health Unit ASIANWALA SARGODHA,ASIANWALA SARGODHA,32.073979,72.686070,26-03-18,...,0.948930,99.5644,282.649,97584.5,0.016060,4.54706,304.530,2019-07-08,6,1

In [42]:
new_data = data.groupby(["Date_Time1", "RHC_BHU_Ad", 'Disease_Label']).size().reset_index(name="Location_Count")
new_data

,Date_Time1,RHC_BHU_Ad,Disease_Label,Location_Count
0,2017-11-23,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0,13
1,2017-11-23,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,1,14
2,2017-11-23,BELI DELAWER PAKPATTAN,0,3
3,2017-11-23,BELI DELAWER PAKPATTAN,1,4
4,2017-11-23,CHAK 16 EB PAKPATTAN,0,23
...,...,...,...,...
1020,2019-06-20,CHAK 307 HR BAHAWALNAGAR,0,22
1021,2019-06-20,CHAK 307 HR BAHAWALNAGAR,1,27
1022,2019-06-20,Chak 200 8R BAHAWALNAGAR,0,5
1023,2019-06-20,Chak 200 8R BAHAWALNAGAR,1,5
1024,2019-07-08,ASIANWALA SARGODHA,1,6

In [43]:
new_data['Location_Count'].sum()

22552

In [44]:
new_data['Location_Count'].unique()

array([13, 14,  3,  4, 23, 21, 19, 11, 40, 18,  1,  8,  2, 16, 20,  7,  6,
       39,  5, 15,  9, 42, 45, 30, 28, 58, 56, 10, 26, 22, 76, 74, 44, 72,
       92, 12, 32, 35, 31, 38, 24, 34, 36, 66, 17, 88, 41, 29, 27, 25, 33,
       37, 43, 65, 59, 46, 70, 55, 48, 47, 50, 49, 51, 60], dtype=int64)

In [45]:
new_data1 = data.groupby(["Date_Time1", "RHC_BHU_Ad", 'Disease_Label'])['Disease_Label'].transform(np.size)
new_data1

0         1
1        14
2        14
3        13
4        13
         ..
22547     6
22548     6
22549     6
22550     6
22551     6
Name: Disease_Label, Length: 22552, dtype: int32

In [46]:
new_data1.unique()

array([ 1, 14, 13,  3,  8,  2, 21, 23, 18,  4, 19, 11, 40, 20, 16,  5,  6,
        9, 15,  7, 39, 45, 42, 28, 30, 56, 58, 10, 26, 74, 76, 44, 72, 92,
       22, 32, 35, 36, 34, 66, 88, 12, 24, 17, 31, 38, 41, 29, 27, 37, 33,
       25, 43, 59, 65, 46, 70, 48, 55, 47, 50, 49, 51, 60])

In [47]:
data1 = pd.merge(data, new_data,  how='left', left_on=['Date_Time1','RHC_BHU_Ad', 'Disease_Label'], right_on = ['Date_Time1','RHC_BHU_Ad', 'Disease_Label'])
data1.head(10)

,Date,Disease,Case_no,Received_D,District,RHC_BHU_Na,RHC_BHU_Ad,Lattitude,Longitude,Date_Time,...,COSC,TO3,PS,QLML,SPEEDLML,TLML,Date_Time1,Date_Count,Disease_Label,Location_Count
0,3,ARI/Pneum > 5 Yrs,3,23-11-17,KHUSHAB,Basic Health Unit SHUMAR (GUNJIAL) KHUSHAB,SHUMAR (GUNJIAL) KHUSHAB,32.334890,71.848239,03-04-18,...,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275,1,1
1,9,ARI/Pneum > 5 Yrs,3,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,09-04-18,...,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275,1,14
2,7,ARI/Pneum > 5 Yrs,5,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,07-04-18,...,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275,1,14
3,6,ARI/Pneum < 5 Yrs,5,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,06-04-18,...,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275,0,13
4,6,ARI/Pneum < 5 Yrs,3,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,06-04-18,...,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275,0,13
5,4,ARI/Pneum > 5 Yrs,5,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,04-04-18,...,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275,1,14
6,3,ARI/Pneum < 5 Yrs,2,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,03-04-18,...,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275,0,13
7,3,ARI/Pneum > 5 Yrs,3,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,03-04-18,...,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275,1,14
8,31,ARI/Pneum < 5 Yrs,2,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,31-03-18,...,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275,0,13
9,31,ARI/Pneum > 5 Yrs,5,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,31-03-18,...,109.21,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275,1,14

In [48]:
data1.shape

(22552, 25)

In [49]:
data1['Location_Count'].unique()

array([ 1, 14, 13,  3,  8,  2, 21, 23, 18,  4, 19, 11, 40, 20, 16,  5,  6,
        9, 15,  7, 39, 45, 42, 28, 30, 56, 58, 10, 26, 74, 76, 44, 72, 92,
       22, 32, 35, 36, 34, 66, 88, 12, 24, 17, 31, 38, 41, 29, 27, 37, 33,
       25, 43, 59, 65, 46, 70, 48, 55, 47, 50, 49, 51, 60], dtype=int64)

In [50]:
data2 = data1.drop_duplicates(subset=['Date_Time1','RHC_BHU_Ad', 'Disease_Label','Location_Count'], keep='last')
data2.shape

(1025, 25)

In [51]:
data2.head(10)

,Date,Disease,Case_no,Received_D,District,RHC_BHU_Na,RHC_BHU_Ad,Lattitude,Longitude,Date_Time,...,COSC,TO3,PS,QLML,SPEEDLML,TLML,Date_Time1,Date_Count,Disease_Label,Location_Count
0,3,ARI/Pneum > 5 Yrs,3,23-11-17,KHUSHAB,Basic Health Unit SHUMAR (GUNJIAL) KHUSHAB,SHUMAR (GUNJIAL) KHUSHAB,32.334890,71.848239,03-04-18,...,109.210,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275,1,1
25,19,ARI/Pneum < 5 Yrs,3,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,19-03-18,...,157.294,271.654,99553.3,0.004323,3.55759,290.368,2017-11-23,275,0,13
27,14,ARI/Pneum > 5 Yrs,4,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,14-03-18,...,157.294,271.654,99553.3,0.004323,3.55759,290.368,2017-11-23,275,1,14
30,17,ARI/Pneum > 5 Yrs,7,23-11-17,PAKPATTAN,Basic Health Unit KUMHARIWALA PAKPATTAN,KUMHARIWALA PAKPATTAN,30.378399,73.496829,17-03-18,...,157.294,271.654,99553.3,0.004323,3.55759,290.368,2017-11-23,275,1,3
31,17,ARI/Pneum < 5 Yrs,2,23-11-17,PAKPATTAN,Basic Health Unit KUMHARIWALA PAKPATTAN,KUMHARIWALA PAKPATTAN,30.378399,73.496829,17-03-18,...,157.294,271.654,99553.3,0.004323,3.55759,290.368,2017-11-23,275,0,1
46,9,ARI/Pneum > 5 Yrs,7,23-11-17,PAKPATTAN,Basic Health Unit KALYANA PAKPATTAN,KALYANA PAKPATTAN,30.261263,73.226405,20-03-18,...,157.294,271.654,99553.3,0.004323,3.55759,290.368,2017-11-23,275,1,8
47,9,ARI/Pneum < 5 Yrs,5,23-11-17,PAKPATTAN,Basic Health Unit KALYANA PAKPATTAN,KALYANA PAKPATTAN,30.261263,73.226405,20-03-18,...,157.294,271.654,99553.3,0.004323,3.55759,290.368,2017-11-23,275,0,8
49,20,ARI/Pneum > 5 Yrs,2,23-11-17,PAKPATTAN,Basic Health Unit JAFFAR ALI SHAH PAKPATTAN,JAFFAR ALI SHAH PAKPATTAN,30.495269,73.314006,20-04-18,...,157.294,271.654,99553.3,0.004323,3.55759,290.368,2017-11-23,275,1,2
50,19,ARI/Pneum < 5 Yrs,3,23-11-17,PAKPATTAN,Basic Health Unit JAFFAR ALI SHAH PAKPATTAN,JAFFAR ALI SHAH PAKPATTAN,30.495269,73.314006,19-03-18,...,157.294,271.654,99553.3,0.004323,3.55759,290.368,2017-11-23,275,0,1
51,28,ARI/Pneum < 5 Yrs,3,23-11-17,PAKPATTAN,Basic Health Unit CHAK 72 D PAKPATTAN,CHAK 72 D PAKPATTAN,30.357290,73.382658,29-03-18,...,157.294,271.654,99553.3,0.004323,3.55759,290.368,2017-11-23,275,0,1

In [52]:
data2.sort_values(["Date_Time1", "RHC_BHU_Ad", 'Disease_Label', 'Location_Count'], ascending = (True, True, True, True))
data2[["Date_Time1", "RHC_BHU_Ad", 'Disease_Label', 'Location_Count']]

,Date_Time1,RHC_BHU_Ad,Disease_Label,Location_Count
0,2017-11-23,SHUMAR (GUNJIAL) KHUSHAB,1,1
25,2017-11-23,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0,13
27,2017-11-23,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,1,14
30,2017-11-23,KUMHARIWALA PAKPATTAN,1,3
31,2017-11-23,KUMHARIWALA PAKPATTAN,0,1
...,...,...,...,...
22534,2019-06-20,CHAK 307 HR BAHAWALNAGAR,1,27
22535,2019-06-20,CHAK 307 HR BAHAWALNAGAR,0,22
22544,2019-06-20,Chak 200 8R BAHAWALNAGAR,1,5
22545,2019-06-20,Chak 200 8R BAHAWALNAGAR,0,5
22551,2019-07-08,ASIANWALA SARGODHA,1,6

In [53]:
data2

,Date,Disease,Case_no,Received_D,District,RHC_BHU_Na,RHC_BHU_Ad,Lattitude,Longitude,Date_Time,...,COSC,TO3,PS,QLML,SPEEDLML,TLML,Date_Time1,Date_Count,Disease_Label,Location_Count
0,3,ARI/Pneum > 5 Yrs,3,23-11-17,KHUSHAB,Basic Health Unit SHUMAR (GUNJIAL) KHUSHAB,SHUMAR (GUNJIAL) KHUSHAB,32.334890,71.848239,03-04-18,...,109.2100,277.397,90049.1,0.003209,3.38813,288.183,2017-11-23,275,1,1
25,19,ARI/Pneum < 5 Yrs,3,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,19-03-18,...,157.2940,271.654,99553.3,0.004323,3.55759,290.368,2017-11-23,275,0,13
27,14,ARI/Pneum > 5 Yrs,4,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,30.540938,73.475297,14-03-18,...,157.2940,271.654,99553.3,0.004323,3.55759,290.368,2017-11-23,275,1,14
30,17,ARI/Pneum > 5 Yrs,7,23-11-17,PAKPATTAN,Basic Health Unit KUMHARIWALA PAKPATTAN,KUMHARIWALA PAKPATTAN,30.378399,73.496829,17-03-18,...,157.2940,271.654,99553.3,0.004323,3.55759,290.368,2017-11-23,275,1,3
31,17,ARI/Pneum < 5 Yrs,2,23-11-17,PAKPATTAN,Basic Health Unit KUMHARIWALA PAKPATTAN,KUMHARIWALA PAKPATTAN,30.378399,73.496829,17-03-18,...,157.2940,271.654,99553.3,0.004323,3.55759,290.368,2017-11-23,275,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22534,16,ARI/Pneum > 5 Yrs,7,20-06-19,BAHAWALNAGAR,Basic Health Unit CHAK 307 HR BAHAWALNAGAR,CHAK 307 HR BAHAWALNAGAR,29.221496,72.536011,18-03-18,...,69.3891,285.360,98378.7,0.011124,5.94739,305.716,2019-06-20,59,1,27
22535,13,ARI/Pneum < 5 Yrs,3,20-06-19,BAHAWALNAGAR,Basic Health Unit CHAK 307 HR BAHAWALNAGAR,CHAK 307 HR BAHAWALNAGAR,29.221496,72.536011,14-03-18,...,69.3891,285.360,98378.7,0.011124,5.94739,305.716,2019-06-20,59,0,22
22544,29,ARI/Pneum > 5 Yrs,10,20-06-19,BAHAWALNAGAR,Basic Health Unit Chak 200 8R BAHAWALNAGAR,Chak 200 8R BAHAWALNAGAR,29.346649,73.030197,29-03-18,...,73.4428,286.046,98163.5,0.010080,5.31465,305.615,2019-06-20,59,1,5
22545,29,ARI/Pneum < 5 Yrs,3,20-06-19,BAHAWALNAGAR,Basic Health Unit Chak 200 8R BAHAWALNAGAR,Chak 200 8R BAHAWALNAGAR,29.346649,73.030197,29-03-18,...,73.4428,286.046,98163.5,0.010080,5.31465,305.615,2019-06-20,59,0,5
22551,26,ARI/Pneum > 5 Yrs,2,08-07-19,SARGODHA,Basic Health Unit ASIANWALA SARGODHA,ASIANWALA SARGODHA,32.073979,72.686070,26-03-18,...,99.5644,282.649,97584.5,0.016060,4.54706,304.530,2019-07-08,6,1,6

In [54]:
data2.isnull().sum()

Date              0
Disease           0
Case_no           0
Received_D        0
District          0
RHC_BHU_Na        0
RHC_BHU_Ad        0
Lattitude         0
Longitude         0
Date_Time         0
BCCMASS           0
DUCMASS25         0
OCCMASS           0
SO2CMASS          0
AOD               0
COSC              0
TO3               0
PS                0
QLML              0
SPEEDLML          0
TLML              0
Date_Time1        0
Date_Count        0
Disease_Label     0
Location_Count    0
dtype: int64

In [74]:
data3 = data2[["Date_Time1", "RHC_BHU_Ad", 'Disease_Label','Location_Count']].copy()

In [75]:
data3.head(5)

,Date_Time1,RHC_BHU_Ad,Disease_Label,Location_Count
0,2017-11-23,SHUMAR (GUNJIAL) KHUSHAB,1,1
25,2017-11-23,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,0,13
27,2017-11-23,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,1,14
30,2017-11-23,KUMHARIWALA PAKPATTAN,1,3
31,2017-11-23,KUMHARIWALA PAKPATTAN,0,1

In [76]:
data4 = data3.copy()

In [77]:
#if values same then choose 1 then Disease label should be false, vice versa for 0.
data4 = data4.sort_values(["RHC_BHU_Ad", 'Location_Count', 'Disease_Label'], ascending = (True,False,False))
data4

      Date_Time1             RHC_BHU_Ad  Disease_Label  Location_Count
10471 2018-01-05            1 WB VEHARI              0              35
10470 2018-01-05            1 WB VEHARI              1              34
2883  2017-12-08    221 Dooghra CHINIOT              1               4
2529  2017-12-07          267 EB VEHARI              1               1
2607  2017-12-07           41 WB VEHARI              1              40
...          ...                    ...            ...             ...
19547 2018-02-02       WARSALKE SIALKOT              0              42
6253  2017-12-12  Wali Pur Bora NAROWAL              0              45
6252  2017-12-12  Wali Pur Bora NAROWAL              1              44
16920 2018-01-18   Wandhar MUZAFFARGARH              0              29
16919 2018-01-18   Wandhar MUZAFFARGARH              1              27

[1025 rows x 4 columns]

In [78]:
#data4.to_csv('DuplicateLocationDisease.csv', index = False)

In [79]:
data4 = data4.drop_duplicates(subset=['Date_Time1','RHC_BHU_Ad'], keep='first')
data4

      Date_Time1             RHC_BHU_Ad  Disease_Label  Location_Count
10471 2018-01-05            1 WB VEHARI              0              35
2883  2017-12-08    221 Dooghra CHINIOT              1               4
2529  2017-12-07          267 EB VEHARI              1               1
2607  2017-12-07           41 WB VEHARI              1              40
14934 2018-01-11      453 GB FAISALABAD              1              44
...          ...                    ...            ...             ...
18745 2018-01-29  WANDILA JAGHEER OKARA              0              41
7247  2017-12-15     WARA SEHRAN LAYYAH              1              27
19546 2018-02-02       WARSALKE SIALKOT              1              42
6253  2017-12-12  Wali Pur Bora NAROWAL              0              45
16920 2018-01-18   Wandhar MUZAFFARGARH              0              29

[553 rows x 4 columns]

In [80]:
data4['Disease_Label'].value_counts()

1    356
0    197
Name: Disease_Label, dtype: int64

In [81]:
#data4.to_csv('singleLocationDisease(0).csv', index = False)

In [82]:
data_final = pd.merge(data4, data2,  how='left', left_on=['Date_Time1','RHC_BHU_Ad', 'Disease_Label','Location_Count'], right_on = ['Date_Time1','RHC_BHU_Ad', 'Disease_Label','Location_Count'])
data_final.head(10)

,Date_Time1,RHC_BHU_Ad,Disease_Label,Location_Count,Date,Disease,Case_no,Received_D,District,RHC_BHU_Na,...,OCCMASS,SO2CMASS,AOD,COSC,TO3,PS,QLML,SPEEDLML,TLML,Date_Count
0,2018-01-05,1 WB VEHARI,0,35,14,ARI/Pneum < 5 Yrs,1,05-01-18,VEHARI,Basic Health Unit 1 WB VEHARI,...,0.000028,0.000012,0.409517,113.3880,280.240,99977.9,0.002682,4.33342,284.610,110
1,2017-12-08,221 Dooghra CHINIOT,1,4,19,ARI/Pneum > 5 Yrs,7,08-12-17,CHINIOT,Basic Health Unit 221 Dooghra CHINIOT,...,0.000020,0.000008,0.280752,136.1390,280.440,99742.2,0.002901,3.34783,285.618,474
2,2017-12-07,267 EB VEHARI,1,1,15,ARI/Pneum > 5 Yrs,5,07-12-17,VEHARI,Basic Health Unit 267 EB VEHARI,...,0.000023,0.000008,0.253799,98.7613,283.068,99588.6,0.002843,4.71057,286.675,224
3,2017-12-07,41 WB VEHARI,1,40,14,ARI/Pneum > 5 Yrs,8,07-12-17,VEHARI,Basic Health Unit 41 WB VEHARI,...,0.000023,0.000012,0.327320,108.3500,275.576,100255.0,0.003090,3.73194,286.217,224
4,2018-01-11,453 GB FAISALABAD,1,44,14,ARI/Pneum > 5 Yrs,5,11-01-18,FAISALABAD,Basic Health Unit 453 GB FAISALABAD,...,0.000027,0.000010,0.418540,145.4730,283.454,99568.5,0.002679,4.06964,283.989,939
5,2017-12-07,477 EB VEHARI,1,41,14,ARI/Pneum > 5 Yrs,13,07-12-17,VEHARI,Basic Health Unit 477 EB VEHARI,...,0.000023,0.000008,0.333816,108.3500,275.576,100064.0,0.003022,3.46007,286.254,224
6,2018-05-18,490 GB 490 GB FAISALABAD,0,20,9,ARI/Pneum < 5 Yrs,1,18-05-18,FAISALABAD,Basic Health Unit 490 GB 490 GB FAISALABAD,...,0.000013,0.000008,0.815722,117.7980,301.705,98433.4,0.006961,6.00464,301.232,876
7,2018-01-18,518-TDA MUZAFFARGARH,1,10,15,ARI/Pneum > 5 Yrs,6,18-01-18,MUZAFFARGARH,Basic Health Unit 518-TDA MUZAFFARGARH,...,0.000024,0.000018,0.351114,117.3080,281.968,97031.9,0.001940,6.21867,286.197,552
8,2017-12-07,521 EB VEHARI,1,4,10,ARI/Pneum > 5 Yrs,8,07-12-17,VEHARI,Basic Health Unit 521 EB VEHARI,...,0.000023,0.000008,0.333816,108.3500,275.576,100064.0,0.003022,3.46007,286.254,224
9,2018-02-28,53 WB VEHARI,0,24,14,ARI/Pneum < 5 Yrs,1,28-02-18,VEHARI,Basic Health Unit 53 WB VEHARI,...,0.000015,0.000010,0.448038,117.1070,305.205,100016.0,0.004059,4.51871,287.334,50

In [83]:
data_final.shape

(553, 25)

In [84]:
data_final.sort_values(["Date_Time1", "RHC_BHU_Ad"], ascending = (True, True))

,Date_Time1,RHC_BHU_Ad,Disease_Label,Location_Count,Date,Disease,Case_no,Received_D,District,RHC_BHU_Na,...,OCCMASS,SO2CMASS,AOD,COSC,TO3,PS,QLML,SPEEDLML,TLML,Date_Count
12,2017-11-23,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,1,14,14,ARI/Pneum > 5 Yrs,4,23-11-17,PAKPATTAN,62 D CHAK 62 D TEHSIL PAKPATTAN PAKPATTAN,...,0.000063,0.000010,0.850539,157.2940,271.654,99553.3,0.004323,3.55759,290.368,275
43,2017-11-23,BELI DELAWER PAKPATTAN,1,4,14,ARI/Pneum > 5 Yrs,8,23-11-17,PAKPATTAN,Basic Health Unit BELI DELAWER PAKPATTAN,...,0.000063,0.000010,0.829254,157.2940,271.654,99680.3,0.004355,3.40770,290.235,275
102,2017-11-23,CHAK 16 EB PAKPATTAN,0,23,14,ARI/Pneum < 5 Yrs,5,23-11-17,PAKPATTAN,Basic Health Unit CHAK 16 EB PAKPATTAN,...,0.000063,0.000010,0.850539,157.2940,271.654,99553.3,0.004323,3.55759,290.368,275
173,2017-11-23,CHAK 351 EB PAKPATTAN,0,21,15,ARI/Pneum < 5 Yrs,3,23-11-17,PAKPATTAN,Basic Health Unit CHAK 351 EB PAKPATTAN,...,0.000061,0.000011,0.829254,157.2940,271.654,99680.3,0.004355,3.40770,290.235,275
206,2017-11-23,CHAK 48 EB PAKPATTAN,1,11,7,ARI/Pneum > 5 Yrs,11,23-11-17,PAKPATTAN,Basic Health Unit CHAK 48 EB PAKPATTAN,...,0.000061,0.000011,0.829254,157.2940,271.654,99680.3,0.004355,3.40770,290.235,275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,2018-09-17,CHAK 28 JB FAISALABAD,1,1,3,ARI/Pneum > 5 Yrs,14,17-09-18,FAISALABAD,Basic Health Unit CHAK 28 JB FAISALABAD,...,0.000009,0.000009,0.613531,125.4340,278.825,98506.0,0.011276,4.83178,301.022,11
240,2018-09-17,CHAK 629 GB FAISALABAD,1,2,19,ARI/Pneum > 5 Yrs,24,17-09-18,FAISALABAD,Basic Health Unit CHAK 629 GB FAISALABAD,...,0.000009,0.000011,0.602108,139.5860,278.358,98371.1,0.011592,4.36004,300.664,11
163,2019-06-20,CHAK 307 HR BAHAWALNAGAR,1,27,16,ARI/Pneum > 5 Yrs,7,20-06-19,BAHAWALNAGAR,Basic Health Unit CHAK 307 HR BAHAWALNAGAR,...,0.000005,0.000003,0.656733,69.3891,285.360,98378.7,0.011124,5.94739,305.716,59
282,2019-06-20,Chak 200 8R BAHAWALNAGAR,1,5,29,ARI/Pneum > 5 Yrs,10,20-06-19,BAHAWALNAGAR,Basic Health Unit Chak 200 8R BAHAWALNAGAR,...,0.000006,0.000003,0.609445,73.4428,286.046,98163.5,0.010080,5.31465,305.615,59
19,2019-07-08,ASIANWALA SARGODHA,1,6,26,ARI/Pneum > 5 Yrs,2,08-07-19,SARGODHA,Basic Health Unit ASIANWALA SARGODHA,...,0.000008,0.000006,0.948930,99.5644,282.649,97584.5,0.016060,4.54706,304.530,6

In [86]:
#data_final.to_csv('Final_Disease_Data(Day_wise).csv')

In [87]:
data_final['Disease_Label'].value_counts()

1    356
0    197
Name: Disease_Label, dtype: int64

In [88]:
data_final.isnull().sum()

Date_Time1        0
RHC_BHU_Ad        0
Disease_Label     0
Location_Count    0
Date              0
Disease           0
Case_no           0
Received_D        0
District          0
RHC_BHU_Na        0
Lattitude         0
Longitude         0
Date_Time         0
BCCMASS           0
DUCMASS25         0
OCCMASS           0
SO2CMASS          0
AOD               0
COSC              0
TO3               0
PS                0
QLML              0
SPEEDLML          0
TLML              0
Date_Count        0
dtype: int64

In [53]:
date_address_disease = data.groupby(['Date_Month','RHC_BHU_Ad', 'Disease_Label'])['Date_Month'].transform('count')
date_address_disease

0         1
1        14
2        14
3        13
4        13
         ..
22547     6
22548     6
22549     6
22550     6
22551     6
Name: Date_Month, Length: 22552, dtype: int64

In [96]:
data_final['Location_Count'].sum()

12278

In [97]:
data2['Location_Count'].sum()

22552

In [56]:
#that means our work is correct.

In [102]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [103]:
from sklearn.preprocessing import StandardScaler

In [104]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold

In [105]:
from sklearn.model_selection import cross_val_predict

In [106]:
from sklearn.ensemble import RandomForestClassifier

In [107]:
data_final.columns

Index(['Date_Month', 'RHC_BHU_Ad', 'Disease_Label', 'Location_Count', 'Date',
       'Disease', 'Case_no', 'Received_D', 'District', 'RHC_BHU_Na',
       'Lattitude', 'Longitude', 'Date_Time', 'BCCMASS', 'DUCMASS25',
       'OCCMASS', 'SO2CMASS', 'AOD', 'COSC', 'TO3', 'PS', 'QLML', 'SPEEDLML',
       'TLML', 'Date_Time1', 'Date_Count'],
      dtype='object')

In [111]:
data_final1 = data_final.drop(['Date_Month', 'RHC_BHU_Ad','Date', 'Disease', 'Case_no', 'Received_D',\
                               'District', 'RHC_BHU_Na', 'Lattitude', 'Longitude', 'Date_Time', \
                               'Date_Time1','Date_Count'], axis = 1)
data_final1.head(5)

,Disease_Label,Location_Count,BCCMASS,DUCMASS25,OCCMASS,SO2CMASS,AOD,COSC,TO3,PS,QLML,SPEEDLML,TLML
0,0,35,0.000007,0.000051,0.000028,0.000012,0.409517,113.3880,280.240,99977.9,0.002682,4.33342,284.610
1,1,4,0.000005,0.000020,0.000020,0.000008,0.280752,136.1390,280.440,99742.2,0.002901,3.34783,285.618
2,1,1,0.000005,0.000020,0.000023,0.000008,0.253799,98.7613,283.068,99588.6,0.002843,4.71057,286.675
3,1,40,0.000005,0.000021,0.000023,0.000012,0.327320,108.3500,275.576,100255.0,0.003090,3.73194,286.217
4,1,44,0.000007,0.000051,0.000027,0.000010,0.418540,145.4730,283.454,99568.5,0.002679,4.06964,283.989

In [112]:
data_final1.shape

(540, 13)

In [113]:
data_final1.dtypes

Disease_Label       int32
Location_Count      int64
BCCMASS           float64
DUCMASS25         float64
OCCMASS           float64
SO2CMASS          float64
AOD               float64
COSC              float64
TO3               float64
PS                float64
QLML              float64
SPEEDLML          float64
TLML              float64
dtype: object

In [114]:
data_final1.isnull().values.any()

False

In [116]:
X = data_final1.drop(['Disease_Label'], axis =1)
X = X.values
X

array([[3.50000e+01, 6.90944e-06, 5.06648e-05, ..., 2.68213e-03,
        4.33342e+00, 2.84610e+02],
       [4.00000e+00, 4.83977e-06, 2.02000e-05, ..., 2.90077e-03,
        3.34783e+00, 2.85618e+02],
       [1.00000e+00, 5.46458e-06, 1.97661e-05, ..., 2.84329e-03,
        4.71057e+00, 2.86675e+02],
       ...,
       [4.20000e+01, 2.55085e-06, 7.18362e-05, ..., 3.99905e-03,
        4.08774e+00, 2.89321e+02],
       [4.50000e+01, 4.86623e-06, 1.94450e-05, ..., 3.01959e-03,
        3.74301e+00, 2.85435e+02],
       [2.90000e+01, 7.27170e-06, 5.27482e-05, ..., 2.47875e-03,
        4.33884e+00, 2.85135e+02]])

In [118]:
scaler = StandardScaler()
X_sc = scaler.fit_transform(X)
print(scaled)

[[ 0.7041518   0.62639838 -0.00337595 ... -0.50116242 -0.00965306
  -0.60281458]
 [-1.07589971 -0.28932816 -0.67107428 ... -0.34624278 -1.02029059
  -0.35292346]
 [-1.24816276 -0.01288066 -0.68058409 ... -0.38697083  0.37708174
  -0.09088486]
 ...
 [ 1.10609891 -1.30206197  0.46063854 ...  0.43195491 -0.2615767
   0.56507934]
 [ 1.27836196 -0.27762092 -0.68762165 ... -0.26205163 -0.61506759
  -0.3982906 ]
 [ 0.3596257   0.7866805   0.04228602 ... -0.64526943 -0.00409531
  -0.47266296]]

In [120]:
y = data_final1['Disease_Label']
y = y.values
y

array([0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0])

In [121]:
unique_elements, counts_elements = np.unique(y, return_counts=True)
print("Frequency of unique values of the said array:")
print(np.asarray((unique_elements, counts_elements)))

Frequency of unique values of the said array:
[[  0   1]
 [195 345]]

In [122]:
print(X.shape)
print(y.shape)

(540, 12)
(540,)

In [130]:
from imblearn.over_sampling import SMOTE 
smote = SMOTE()
from collections import Counter

In [131]:
X_S, y_S = smote.fit_resample(X,y)

In [132]:
print("Before Smote :", Counter(y))
print("After Smote :", Counter(y_S))

Before Smote : Counter({1: 345, 0: 195})
After Smote : Counter({0: 345, 1: 345})

In [133]:
print(X_S.shape)
print(y_S.shape)

(690, 12)
(690,)

In [134]:
#Stratified K Fold split
kfold = StratifiedKFold(n_splits=10, random_state=42, shuffle=True)
print(kfold)

StratifiedKFold(n_splits=10, random_state=42, shuffle=True)

In [127]:
x_train, x_test, y_train, y_test = train_test_split(X_sc, y, test_size=0.25, shuffle=True)

In [128]:
print(X.shape)
print(y.shape)
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(540, 12)
(540,)
(405, 12)
(405,)
(135, 12)
(135,)

In [129]:
rf = RandomForestClassifier()
rf.fit(x_train, y_train)
y_predict = rf.predict(x_test)
print(accuracy_score(y_test, y_predict))
print(classification_report(y_test, y_predict))

0.6296296296296297
              precision    recall  f1-score   support

           0       0.55      0.43      0.48        54
           1       0.67      0.77      0.71        81

    accuracy                           0.63       135
   macro avg       0.61      0.60      0.60       135
weighted avg       0.62      0.63      0.62       135

In [135]:
cv_results = cross_val_score(rf, X_sc, y, cv=kfold, scoring='accuracy')
cv_results_mean = cv_results.mean()
cv_results_std = cv_results.std()
cv_results_name = 'RF'
print('%s: %f (%f)' % (cv_results_name, cv_results_mean, cv_results_std))

RF: 0.614815 (0.071146)

In [138]:
#for confussion matrix
y_RF = cross_val_predict(rf, X, y, cv=kfold)
#Accuracy matrix
accu_RF = accuracy_score(y, y_RF)
print(accu_RF)
#Confussion matric
conf_RF = confusion_matrix(y, y_RF)
print(conf_RF)
#Classification Report
crep_RF = classification_report(y, y_RF)
print(crep_RF)

0.6074074074074074
[[ 83 112]
 [100 245]]
              precision    recall  f1-score   support

           0       0.45      0.43      0.44       195
           1       0.69      0.71      0.70       345

    accuracy                           0.61       540
   macro avg       0.57      0.57      0.57       540
weighted avg       0.60      0.61      0.60       540

In [136]:
cv_results = cross_val_score(rf, X_S, y_S, cv=kfold, scoring='accuracy')
cv_results_mean = cv_results.mean()
cv_results_std = cv_results.std()
cv_results_name = 'RF'
print('%s: %f (%f)' % (cv_results_name, cv_results_mean, cv_results_std))

RF: 0.672464 (0.062571)

In [137]:
#for confussion matrix
y_RF = cross_val_predict(rf, X_S, y_S, cv=kfold)
#Accuracy matrix
accu_RF = accuracy_score(y_S, y_RF)
print(accu_RF)
#Confussion matric
conf_RF = confusion_matrix(y_S, y_RF)
print(conf_RF)
#Classification Report
crep_RF = classification_report(y_S, y_RF)
print(crep_RF)

0.6623188405797101
[[233 112]
 [121 224]]
              precision    recall  f1-score   support

           0       0.66      0.68      0.67       345
           1       0.67      0.65      0.66       345

    accuracy                           0.66       690
   macro avg       0.66      0.66      0.66       690
weighted avg       0.66      0.66      0.66       690