In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Usman_test_train_IoT\Combined_Data_IoT.csv")

In [3]:
data.head(5)

,ts,date,time,fridge_temperature,temp_condition,label,type,door_state,sphone_signal,latitude,...,FC2_Read_Discrete_Value,FC3_Read_Holding_Register,FC4_Read_Coil,motion_status,light_status,current_temperature,thermostat_status,temperature,pressure,humidity
0,1556245180,25-Apr-19,19:19:40,9.00,1,1,ddos,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,35.773605,1.035,46.343618
1,1556245180,25-Apr-19,19:19:40,9.25,1,1,ddos,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,35.773605,1.035,46.343618
2,1556245185,25-Apr-19,19:19:45,12.65,1,1,ddos,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,35.773605,1.035,46.343618
3,1556245185,25-Apr-19,19:19:45,4.65,0,1,ddos,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,35.773605,1.035,46.343618
4,1556245195,25-Apr-19,19:19:55,12.65,1,1,ddos,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,35.773605,1.035,46.343618

In [4]:
dataset = data.copy()

In [5]:
dataset.head(5)

,ts,date,time,fridge_temperature,temp_condition,label,type,door_state,sphone_signal,latitude,...,FC2_Read_Discrete_Value,FC3_Read_Holding_Register,FC4_Read_Coil,motion_status,light_status,current_temperature,thermostat_status,temperature,pressure,humidity
0,1556245180,25-Apr-19,19:19:40,9.00,1,1,ddos,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,35.773605,1.035,46.343618
1,1556245180,25-Apr-19,19:19:40,9.25,1,1,ddos,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,35.773605,1.035,46.343618
2,1556245185,25-Apr-19,19:19:45,12.65,1,1,ddos,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,35.773605,1.035,46.343618
3,1556245185,25-Apr-19,19:19:45,4.65,0,1,ddos,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,35.773605,1.035,46.343618
4,1556245195,25-Apr-19,19:19:55,12.65,1,1,ddos,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,35.773605,1.035,46.343618

In [ ]:
dataset['temp_condition'] = dataset['label']
dataset.head()

In [ ]:
dataset['label'].value_counts()

In [ ]:
dataset['temp_condition'].value_counts()

In [ ]:
# Set percentage of column to 0 (pandas)
N = .2
total = len(dataset.index)

#convert to int for always integer
i = int(total * N)
idx = np.r_[0:i, total-i:total]

# Here i have added 1 in 20% records of a column, not considered where value is 1
dataset.iloc[idx, dataset.columns.get_loc('temp_condition')] = 1

In [ ]:
dataset['temp_condition'].value_counts()

In [ ]:
dataset.isna().sum().sum()

In [ ]:
dataset.columns

In [ ]:
dataset.head()

In [36]:
dataset1 = dataset.copy()

In [37]:
print(dataset1['temperature'].min())
print(dataset1['temperature'].max())

20.52701229
50.0

In [38]:
dataset1['type'].value_counts()

normal        245000
backdoor       35000
injection      35000
password       35000
ddos           25000
ransomware     16030
xss             6116
scanning        3973
Name: type, dtype: int64

In [39]:
data_n = np.random.uniform(20, 26, size = 245000)
data_b = np.random.uniform(23, 28, size = 35000)
data_i = np.random.uniform(27, 32, size = 35000)
data_p = np.random.uniform(31, 36, size = 35000)
data_d = np.random.uniform(35, 40, size = 25000)
data_r = np.random.uniform(39, 43, size = 16030)
data_x = np.random.uniform(42, 47, size = 6116)
data_s = np.random.uniform(46, 48, size = 3973)

In [40]:
print(data_s[0])

46.820700404457746

In [41]:
dataset1.loc[dataset1['type'] == 'normal', 'temperature'] = data_n
dataset1.loc[dataset1['type'] == 'backdoor', 'temperature'] = data_b
dataset1.loc[dataset1['type'] == 'injection', 'temperature'] = data_i
dataset1.loc[dataset1['type'] == 'password', 'temperature'] = data_p
dataset1.loc[dataset1['type'] == 'ddos', 'temperature'] = data_d
dataset1.loc[dataset1['type'] == 'ransomware', 'temperature'] = data_r
dataset1.loc[dataset1['type'] == 'xss', 'temperature'] = data_x
dataset1.loc[dataset1['type'] == 'scanning', 'temperature'] = data_s

In [42]:
dataset1[dataset1['type'] == 'normal']

,ts,date,time,fridge_temperature,temp_condition,label,type,door_state,sphone_signal,latitude,...,FC2_Read_Discrete_Value,FC3_Read_Holding_Register,FC4_Read_Coil,motion_status,light_status,current_temperature,thermostat_status,temperature,pressure,humidity
6847,1554061012,31-Mar-19,12:36:52,13.10,1,0,normal,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,21.562044,1.035000,46.343618
6848,1554061013,31-Mar-19,12:36:53,8.65,1,0,normal,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,25.018145,1.035000,46.343618
6849,1554061014,31-Mar-19,12:36:54,2.00,0,0,normal,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,24.926485,1.035000,46.343618
6850,1554061015,31-Mar-19,12:36:55,4.80,0,0,normal,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,23.441093,1.035000,46.343618
6851,1554061016,31-Mar-19,12:36:56,10.70,1,0,normal,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,25.099358,1.035000,46.343618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401114,1554166618,01-Apr-19,17:56:58,6.70,1,0,normal,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,21.421544,2.204924,37.024913
401115,1554166618,01-Apr-19,17:56:58,6.70,1,0,normal,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,20.155984,-2.030547,90.297894
401116,1554166619,01-Apr-19,17:56:59,6.70,1,0,normal,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,24.577566,0.872942,37.687701
401117,1554166623,01-Apr-19,17:57:03,6.70,1,0,normal,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,20.913710,3.168207,93.647950
401118,1554166623,01-Apr-19,17:57:03,6.70,1,0,normal,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,21.267071,2.204924,37.024913

In [43]:
print(dataset1.loc[dataset1['type'] == 'normal','temperature'].min())
print(dataset1.loc[dataset1['type'] == 'normal','temperature'].max())

20.000009913926792
25.999975005906787

In [44]:
dataset2 = dataset1.copy()

In [45]:
#rand_idx = dataset1[dataset1['type'] == 'normal'].index

In [46]:
percentage = 15
arr = dataset2['temperature'].values

shuf = np.random.choice(np.arange(arr.shape[0]), round(arr.shape[0]*percentage/100), replace=False) 
arr[np.sort(shuf)] = arr[shuf] 

dataset2['temperature'] = arr

In [47]:
print(dataset2.loc[dataset2['type'] == 'normal','temperature'].min())
print(dataset2.loc[dataset2['type'] == 'normal','temperature'].max())

20.000009913926792
47.999756088246194

In [48]:
dataset2.head()

,ts,date,time,fridge_temperature,temp_condition,label,type,door_state,sphone_signal,latitude,...,FC2_Read_Discrete_Value,FC3_Read_Holding_Register,FC4_Read_Coil,motion_status,light_status,current_temperature,thermostat_status,temperature,pressure,humidity
0,1556245180,25-Apr-19,19:19:40,9.00,1,1,ddos,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,23.016184,1.035,46.343618
1,1556245180,25-Apr-19,19:19:40,9.25,1,1,ddos,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,38.620990,1.035,46.343618
2,1556245185,25-Apr-19,19:19:45,12.65,1,1,ddos,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,42.732741,1.035,46.343618
3,1556245185,25-Apr-19,19:19:45,4.65,0,1,ddos,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,37.785562,1.035,46.343618
4,1556245195,25-Apr-19,19:19:55,12.65,1,1,ddos,0,0,4.514077,...,32708,32035,32728,0,0,28.442693,1,36.353584,1.035,46.343618

In [49]:
dataset2.shape

(401119, 22)

In [50]:
dataset2.to_csv("IDS_Combined_Data_IoT2.csv", index = False)